# Phase 2 Data Cleaning

During this part, we proceed to clean up the dataset that we downloaded from Yelp.

## tip.json

In [1]:
import json
tip = [json.loads(line) for line in open('tipTEST.json', 'r')]     # create a dictionary to read in the json objects of the tip file
print (tip[0])                                                     # print out the first entry of the tip dataset for debugging purpose

{'user_id': 'hf27xTME3EiCp6NL6VtWZQ', 'business_id': 'UYX5zL_Xj9WEc_Wp-FrqHw', 'text': 'Here for a quick mtg', 'date': '2013-11-26 18:20:08', 'compliment_count': 0}

In [2]:
                                                                   #print out the key term
test = tip[0]
test.keys()

dict_keys(['user_id', 'business_id', 'text', 'date', 'compliment_count'])

In [3]:
#load the data into data frame in order to process and clean up
import pandas as pd

tip_df = pd.json_normalize (tip)

><u>Keys discription:</u>\
    1. <u>User id:</u>: The id of the users who wrote the messages/tips. We do not need this. This key will be drop. \
    2. <u>Business id</u>: The id of the businesses. We need this key to tally with the businesses id we have from the business.json file later on. \
    3. <u>Tex</u>t: A short message of the tip. \
    4. <u>Date</u>: We do not need this key. This will be drop. \
    5. <u>Compliment count</u>: The number of times the businesses were praised/ given thumbs-up.

In [4]:
tip_df.head()                                                      # raw sample of the data set

,user_id,business_id,text,date,compliment_count
0,hf27xTME3EiCp6NL6VtWZQ,UYX5zL_Xj9WEc_Wp-FrqHw,Here for a quick mtg,2013-11-26 18:20:08,0
1,uEvusDwoSymbJJ0auR3muQ,Ch3HkwQYv1YKw_FO06vBWA,Cucumber strawberry refresher,2014-06-15 22:26:45,0
2,AY-laIws3S7YXNl_f_D6rQ,rDoT-MgxGRiYqCmi0bG10g,Very nice good service good food,2016-07-18 22:03:42,0
3,Ue_7yUlkEbX4AhnYdUfL7g,OHXnDV01gLokiX1ELaQufA,It's a small place. The staff is friendly.,2014-06-06 01:10:34,0
4,LltbT_fUMqZ-ZJP-vJ84IQ,GMrwDXRlAZU2zj5nH6l4vQ,"8 sandwiches, $24 total...what a bargain!!! An...",2011-04-08 18:12:01,0

In [5]:
tip_df.drop(columns=['user_id','date'],inplace=True)             #
tip_df.head()

,business_id,text,compliment_count
0,UYX5zL_Xj9WEc_Wp-FrqHw,Here for a quick mtg,0
1,Ch3HkwQYv1YKw_FO06vBWA,Cucumber strawberry refresher,0
2,rDoT-MgxGRiYqCmi0bG10g,Very nice good service good food,0
3,OHXnDV01gLokiX1ELaQufA,It's a small place. The staff is friendly.,0
4,GMrwDXRlAZU2zj5nH6l4vQ,"8 sandwiches, $24 total...what a bargain!!! An...",0

In [6]:
tip_df['compliment_count'].value_counts()

0    20838
1      296
2       18
3        4
5        1
Name: compliment_count, dtype: int64

>We can use the business id in this datafram to look up the name and location of the business in the business file

## checkin.json

In [7]:
checkin = [json.loads(line) for line in open('checkinTEST.json', 'r')]     # create a dictionary to read in the json objects of the tip file
print (checkin[0]) # print out the first entry of the tip dataset for debugging purpose

{'business_id': '--1UhMGODdWsrMastO9DZw', 'date': '2016-04-26 19:49:16, 2016-08-30 18:36:57, 2016-10-15 02:45:18, 2016-11-18 01:54:50, 2017-04-20 18:39:06, 2017-05-03 17:58:02, 2019-03-19 22:04:48'}

In [8]:
#print out the key term
test = checkin[0]
test.keys()

dict_keys(['business_id', 'date'])

In [9]:
checkin_df = pd.json_normalize (checkin)

In [10]:
checkin_df.head()

              business_id                                               date
0  --1UhMGODdWsrMastO9DZw  2016-04-26 19:49:16, 2016-08-30 18:36:57, 2016...
1  --6MefnULPED_I942VcFNA  2011-06-04 18:22:23, 2011-07-23 23:51:33, 2012...
2  --7zmmkVg-IMGaXbuVd0SQ  2014-12-29 19:25:50, 2015-01-17 01:49:14, 2015...
3  --8LPVSo5i0Oo61X01sV9A                                2016-07-08 16:43:30
4  --9QQLMTbFzLJ_oT-ON3Xw  2010-06-26 17:39:07, 2010-08-01 20:06:21, 2010...

> Do we need this?