# Phase 2 Data Cleaning

In this file, we proceed to clean up the dataset that we downloaded from Yelp.

## tip.json

In [1]:
import json
tip = [json.loads(line) for line in open('tipTEST.json', 'r')]     # create a dictionary to read in the json objects of the tip file
print (tip[0])                                                     # print out the first entry of the tip dataset for debugging purpose

{'user_id': 'hf27xTME3EiCp6NL6VtWZQ', 'business_id': 'UYX5zL_Xj9WEc_Wp-FrqHw', 'text': 'Here for a quick mtg', 'date': '2013-11-26 18:20:08', 'compliment_count': 0}

In [2]:
#print out the key term
test = tip[0]
test.keys()

dict_keys(['user_id', 'business_id', 'text', 'date', 'compliment_count'])

In [3]:
                                                                   #print out the key term
test = tip[0]
test.keys()

dict_keys(['user_id', 'business_id', 'text', 'date', 'compliment_count'])

In [4]:
#load the data into data frame in order to process and clean up
import pandas as pd

tip_df = pd.json_normalize (tip)

Keys discription:

    1. User id:: The id of the users who wrote the messages/tips. We do not need this. This key will be drop. \
    2. Business id: The id of the businesses. We need this key to tally with the businesses id we have from the business.json file later on. \
    3. Text: A short message of the tip. \
    4. Date: We do not need this key. This will be drop. \
    5. Compliment count: The number of times the businesses were praised/ given thumbs-up.

In [5]:
tip_df.head()                                                      # raw sample of the data set

,user_id,business_id,text,date,compliment_count
0,hf27xTME3EiCp6NL6VtWZQ,UYX5zL_Xj9WEc_Wp-FrqHw,Here for a quick mtg,2013-11-26 18:20:08,0
1,uEvusDwoSymbJJ0auR3muQ,Ch3HkwQYv1YKw_FO06vBWA,Cucumber strawberry refresher,2014-06-15 22:26:45,0
2,AY-laIws3S7YXNl_f_D6rQ,rDoT-MgxGRiYqCmi0bG10g,Very nice good service good food,2016-07-18 22:03:42,0
3,Ue_7yUlkEbX4AhnYdUfL7g,OHXnDV01gLokiX1ELaQufA,It's a small place. The staff is friendly.,2014-06-06 01:10:34,0
4,LltbT_fUMqZ-ZJP-vJ84IQ,GMrwDXRlAZU2zj5nH6l4vQ,"8 sandwiches, $24 total...what a bargain!!! An...",2011-04-08 18:12:01,0

In [6]:
tip_df.drop(columns=['user_id','date'],inplace=True)             # drop irrelevant comlumns
tip_df.head()

,business_id,text,compliment_count
0,UYX5zL_Xj9WEc_Wp-FrqHw,Here for a quick mtg,0
1,Ch3HkwQYv1YKw_FO06vBWA,Cucumber strawberry refresher,0
2,rDoT-MgxGRiYqCmi0bG10g,Very nice good service good food,0
3,OHXnDV01gLokiX1ELaQufA,It's a small place. The staff is friendly.,0
4,GMrwDXRlAZU2zj5nH6l4vQ,"8 sandwiches, $24 total...what a bargain!!! An...",0

In [7]:
tip_df['compliment_count'].value_counts()

0    20838
1      296
2       18
3        4
5        1
Name: compliment_count, dtype: int64

From here on, eda

## checkin.json

In [ ]:
checkin = [json.loads(line) for line in open('checkinTEST.json', 'r')]     # create a dictionary to read in the json objects of the tip file
print (checkin[0]) # print out the first entry of the tip dataset for debugging purpose

In [ ]:
#print out the key term
test = checkin[0]
test.keys()

In [ ]:
checkin_df = pd.json_normalize (checkin)

In [ ]:
checkin_df.head()

> Do we need this?

## review.json

In [ ]:
review = [json.loads(line) for line in open('ReviewTEST.json', 'r')]     # create a dictionary to read in the json objects of the tip file
print (review[0]) # print out the first entry of the tip dataset for debugging purpose

In [ ]:
print (review[1])

In [ ]:
#print out the key term
test = review[0]
test.keys()

In [ ]:
review_df = pd.json_normalize (review)

In [ ]:
print(review_df.head(5))

# business

#### - First lets convert the business jason file into a dataframe so we can start the cleaning process

In [ ]:
business = [json.loads(line) for line in open('businessTEST2.json', 'r')]     # create a dictionary to read in the json objects of the tip file
print (business[0])

In [ ]:
#print out the key term
test = business[0]
test.keys()

In [ ]:
business_df = pd.json_normalize (business)

In [ ]:
business_df

In [ ]:
print(business_df.head(5))

#### - After converting the json file to a dataframe and print the first 5 entries, we can see that there are columns that we would not need for our purpose. We also encountered another problem, the business file has all type of business and we are only interested in restaurants. One column that will help us is the "categories" column, lets print the first 20 items in our data to check the results.

In [ ]:
business_df["categories"].head(20)

#### - What we can see is that "categories" encloses key words describing each business. Since there is no more information that we can use to find if a business is a restaurant, we will find if "food" or "restaurant" is in the "categories" column and filter the results

In [ ]:
all_restaurants_df = business_df[business_df['categories'].str.contains("food") | business_df['categories'].str.contains("Food") | business_df['categories'].str.contains('Restaurant') | business_df['categories'].str.contains('restaurant')] 
all_restaurants_df

### Now, after the filter we ended with a database of 19,086 restaurants. One other thing that we need to do is to delete the columns that we wont use, like the attributes. What we can do is to redo the dataframe again, but this time without copying all the attribute columns

In [ ]:
all_restaurants_df =  all_restaurants_df[['business_id', 'name', 'address', 'city', 'state', 'postal_code', 'stars','review_count','is_open','categories','hours']]
all_restaurants_df.set_index('name', inplace= True)
all_restaurants_df

In [ ]:
all_restaurants_df.reset_index(inplace=True)
all_restaurants_df

In [ ]:
##delete this, was for testing purposes
#all_restaurants_df.drop(['attributes.Music', 'attributes.BestNights','attributes.HairSpecializesIn','attributes.Smoking'], axis = 1) 
#all_restaurants_df.drop(['attributes.BYOB', 'attributes.Corkage', 'attributes.CoatCheck', 'attributes.BYOBCorkage','attributes.AgesAllowed'], axis = 1)
#all_restaurants_df.drop(['attributes.attributes.BusinessAcceptsBitcoin', 'attributes.GoodForDancing', 'attributes.CoatCheck', 'attributes.BYOBCorkage','attributes.AgesAllowed'], axis = 1)